[submodule "projects/cop-watch-portal"]
	path = projects/cop-watch-portal
	url = https://github.com/Ricool06/cop-watch-portal.git
[submodule "projects/cop-watch-data-proxy"]
	path = projects/cop-watch-data-proxy
	url = https://github.com/Ricool06/cop-watch-data-proxy.git
